<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User : {{id}}</h1> 
    <form action="/update/{{id}}", method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <label for="lirst_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <label for="email">email</label>
        <input type="text" name="email" id="email">
        <input type="submit" class="btn btn-warning btn-lg btn-block" value="Update">
    </form>
        <a href="/">Home</a>
    </div>
</body>
</html>