<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Users</title>
</head>
<body>
    <H1>All Users</H1>
    <table>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Create At</th>
            <th>Actions</th>
        </tr>
        {% for user in users %}
            <tr> 
                <td> {{ user.first_name + " " + user.last_name }} </td>
                <td> {{ user.email }}</td>
                <td> {{ user.created_at }} </td>
                <td> 
                    <ul style="display: flex; justify-content: center; list-style-type: none;">
                        <li><a href="/show/{{user.id}}">Show</a></li>
                        <li>|</li>
                        <li><a href="/edit/{{user.id}}">Edit</a></li>
                        <li>|</li>
                        <li><a href="/delete/{{user.id}}">Delete</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/create">Create User</a>
</body>
</html>