*{
    color: #fff;
    text-decoration: none;
    font-family: "montserrat", 'Times New Roman', Times, serif;
}
.nav {
    background-color: #6395ed;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
img {
    height: 85px; 
    margin-right:25px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex: 2;
}
